<a href="https://colab.research.google.com/github/formacionCDIA/cursoCDIA/blob/main/Notebooks/2_An%C3%A1lisis_Exploratorio_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Ciencia de datos e Inteligencia Artificial**
---
# **2. An√°lisis Exploratorio de datos**

## üéØ Manipulaci√≥n de datos

## ü•á Pandas

Para cargar la librer√≠a `pandas` y comenzar a trabajar con ella, importar.

In [ ]:
import pandas as pd # Importar pandas con el alias pd

El alias acordado por la comunidad es `pd`. Se asume como una pr√°ctica est√°ndar para toda la documentaci√≥n de Pandas.

### Estructuras de datos
Para comenzar a usar la librer√≠a, es importante familiarizarse con sus dos estructuras de datos principales:

* **Series**
* **DataFrame**

#### Series

La serie m√°s simple se forma a partir de una lista de datos.

In [ ]:
s = pd.Series([4, 17, -51, 3], name='Serie A') # Crear serie a partir de una lista = [4, 17, -51, 3]
s

Como no especificamos un √≠ndice para los datos, se crea uno predeterminado que consta de los n√∫meros enteros del 0 al N - 1 (donde N es la cantidad de valores). Para el ejemplo la serie tiene una colecci√≥n de *N=4* valores, el nombre de la serie es *Serie A* y el indice es una colecci√≥n de enteros de 0 a 3.

Para acceder a la colecci√≥n de valores y al indice considerar los atributos de la serie `value` e `index` respectivamente:

In [ ]:
s.values # Acceder a la colecci√≥n de valores

In [ ]:
s.index # Acceder a la colecci√≥n de etiquetas. Indice

Si necesitas reforzar sobre las estructuras de datos en Python, mirar la notebook **Soporte en CD e IA** de este curso o clicar en [Estructura de datos de la documentaci√≥n oficial de Python](https://docs.python.org/es/3/tutorial/datastructures.html).

üìù **Ejercicio**

Crea tu primera Serie desde la lista [0,'A','B', 4, 2] . Guardar la serie con el nombre de variable `tiposdedatos_s`.

```
tiposdedatos_s = ...
```

In [ ]:
# Ejercicio

**Haz doble click para ver la respuesta**

<!--
# Crear serie
tiposdedatos_s = pd.Series( [0,'A','B', 4, 2])

# Mostrar
tiposdedatos_s
 -->

A menudo se desea crear una serie con un √≠ndice que identifique cada punto de datos:

In [ ]:
s = pd.Series ([4, 17, -51, 3], name='Serie A', index=['d', 'b', 'a', 'c']) # Crear serie

s

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
s['a'] # Seleccionar el elemento asociado al valor del indice 'a'

In [ ]:
s[['c', 'a', 'd']] # Seleccionar el elemento asociado al valor del indice 'a'

In [ ]:
print('Serie original:\n', s)

s['d'] = 6 # Modificar el valor asociado al valor del indice 'd'

print('\nSerie modificada:\n', s)

Las operaciones de array de NumPy, tambi√©n se aplican en serie, como el filtrado con operadores relacional, la multiplicaci√≥n por escalar o la aplicaci√≥n de funciones matem√°ticas, que preservan el v√≠nculo √≠ndice-valor:

In [ ]:
s

In [ ]:
s[s > 0] # Filtrar los valores mayores a 0. M√°scaras

In [ ]:

s * 2 # Multiplicar por escalar 2

In [ ]:
s.sum() # Sumar todos los valores. Funciona por ser valores n√∫mericos

En este curso, no exploramos la librer√≠a NumPy pero si deseas hacerlo, clicar en [documentaci√≥n oficial](https://numpy.org/doc/stable/index.html).

In [ ]:
import numpy as np # Importar librer√≠a de Numpy para usar sus funciones definidas
np.exp(s) # Funci√≥n exponencial

Si tiene datos contenidos en un diccionario de Python, puede crear una serie a partir de ellos pasando el diccionario:

In [ ]:

superficie_dict = {'Buenos Aires': 305907.4,
                   'C√≥rdoba': 164707.8, # Por cada nombre de provincia un valor de superficie [km¬≤] asociado.
                   'Salta': 155340.5,
                   'Tucum√°n': 22592.1,
                   'La Rioja': 91493.7
                   }

superficie_s = pd.Series(superficie_dict) # Serie desde dict

superficie_s

Cuando solo se pasa un diccionario, el √≠ndice de la serie resultante se forma con las claves del diccionario en el orden generado.

In [ ]:

provincias = ['Buenos Aires', 'C√≥rdoba', 'Salta', 'Misiones']

superficie_s2 = pd.Series(superficie_s, index=provincias) # Crear serie desde un diccionario e indice

superficie_s2

En este caso, se colocaron 3 valores encontrados en superficie_s en las ubicaciones correspondientes, pero como no se encontr√≥ ning√∫n valor para 'Misiones', aparece como `NaN` (Not a Number), que es la manera de identificar valores faltantes en Pandas. El t√≥pico **Valores faltantes** lo veremos en un m√≥dulo propio. Por lo pronto te mencionamos dos funciones de las series para detectarlos `isnull` y `notnull`  :

In [ ]:
pd.isnull(superficie_s2)

In [ ]:
superficie_s2.isnull()

In [ ]:
pd.notnull(superficie_s2)

In [ ]:
superficie_s2.notnull()

#### DataFrame

Vamos a construir dos objetos series:

- `superficie_s`, a partir de un diccionario. Retomamos el ejemplo anterior.

- `Poblacion_s`, a partir de dos listas

Luego construimos el DataFrame `provincia_df` a partir de las dos Series.

In [ ]:

superficie_dict = {
    'Buenos Aires': 305907.4, # Por cada nombre de provincia un valor de superficie [km¬≤] asociado.
    'C√≥rdoba': 164707.8,
    'Salta': 155340.5,
    'Tucum√°n': 22592.1,
    'La Rioja': 91493.7}


superficie_s = pd.Series(superficie_dict, name = 'superficie') # Serie desde dict y le agregamos el nombre
superficie_s

In [ ]:
provincia_lista = ['Buenos Aires','Salta','C√≥rdoba', 'Tucum√°n', 'La Rioja'] # Crear lista 1

provincia_pop = [17541141, 1424397, 3760450, 1694656, 393531] # Crear lista 2

poblacion_s = pd.Series(provincia_pop, index= provincia_lista, name= 'poblacion')

poblacion_s

In [ ]:
print('Colecci√≥n de valores:',poblacion_s.values) # Mirar atributos de Series
print('Colecci√≥n de etiquetas (indice):',poblacion_s.index)

Para crear un DataFrame desde un diccionario, tener en cuenta que las claves son las etiquetas de las columnas y los valores son los valores de las colecciones asociadas. Para el ejemplo son los valores de las series creadas previamente.

In [ ]:
provincia_df = pd.DataFrame({'Poblacion':poblacion_s,
                             'Superficie_km2':superficie_s
                             })# Crear Dataframe

In [ ]:
provincia_df

üìù **Ejercicio**

Crea tu primer DataFrame desde un diccionario. Llamar al objeto DataFrame con el nombre  `estudiantes_df`. Utilizar el siguiente c√≥digo:

```
# Importar librer√≠a numpy para llamar a random
import numpy as np

# Diccionario est_d

est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol','Sol'],
  'Edad': [49, 26, 37, 40, 35],
  'GradoAcademico': ['Bachiller','Licenciado','Magister','Doctorado','Licenciado']
}
```

In [ ]:
# Ejercicio

**Haz doble click para ver la respuesta**
<!--
# Importar librer√≠a numpy para llamar a random
import numpy as np

# Diccionario est_d

est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol','Sol'],
  'Edad': [49, 26, 37, 40, 35],
  'GradoAcademico': ['Bachiller','Licenciado','Magister','Doctorado','Licenciado']
}

# Crear DataFrame
estudiantes_df = pd.DataFrame(est_d)

# Mostrar
estudiantes_df
-->

Las columnas de `provincia_df` tienen diferentes tipos de datos:

In [ ]:
provincia_df.dtypes # Llamar al atributo dtypes

üîé **Nota**

En su mayor parte, Pandas utiliza arrays y tipos de datos de NumPy para las series o las columnas individuales de un DataFrame. NumPy ofrece compatibilidad con float, int, bool, timedelta64[ns] y datetime64[ns]. Para m√°s informaci√≥n click en [dtypes en documentaci√≥n oficial de Pandas](https://Pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes) (ingl√©s).

**Atributos y datos subyacentes de DataFrame**

In [ ]:
provincia_df.shape # para informar sobre la cantidad de filas y columnas

In [ ]:
provincia_df.index # para informar el √≠ndice (etiquetas de fila)

In [ ]:
provincia_df.columns # para informar las etiquetas de las columnas

In [ ]:
provincia_df.values # para informar los valores, N-array.

### Indexaci√≥n y selecci√≥n de datos
---

Cada columna en un `DataFrame` es una `Serie`. Para acceder a una columna :

In [ ]:
provincia_df['Poblacion'] # Acceder a los datos de la columna cuya etiqueta es 'Poblacion'

In [ ]:
print('Valores de la serie' , provincia_df['Poblacion'].values)
print('Suma de los valores de la serie' , provincia_df['Poblacion'].sum())

Otra forma, es llamando a la columna como atributo del objeto. Tener en cuenta el '.'

In [ ]:
provincia_df.Poblacion

In [ ]:
provincia_df['Poblacion']['Buenos Aires']# Acceder al dato de la columna cuya etiqueta es 'Poblacion' y fila cuya etiqueta es 'Buenos Aires' (ver indice del DataFrame)

In [ ]:
# Otra forma
#provincia_df.Poblacion['Buenos Aires']

Las filas tambi√©n se pueden recuperar por posici√≥n o nombre mediante un par de m√©todos. Usando las posiciones y el m√©todo `iloc` o las etiquetas y el m√©todo `loc`.

`iloc` se basa principalmente en la posici√≥n de n√∫meros enteros pero tambi√©n se puede utilizar con un array booleano.

**Indexaci√≥n de sola las filas**

In [ ]:
provincia_df.iloc[0] # Fila en la posicion 0 . En este caso la fila es la asociada a Buenos Aires

In [ ]:

provincia_df.iloc[[0,3]] # Acceder a una lista de filas, filas de la posici√≥n 0 y posici√≥n 3

In [ ]:
provincia_df.iloc[:3:] # acceder a las filas mediante corte (slice)  [ini:fin:pasos]

In [ ]:
provincia_df.iloc[[True, False, False, False, False]] # Con una m√°scara booleana de la misma longitud que el √≠ndice. En este caso indice es para las 5 filas

**Indexaci√≥n por fila y columna**

Puedes combinar los tipos de indexadores para el √≠ndice y las columnas.

In [ ]:
provincia_df.iloc[0 , 1] # datos de la fila en posici√≥n 0 y columna en posici√≥n 1

In [ ]:
provincia_df.iloc[[0,2] , 1] # datos de las filas en posici√≥n 0 y 2, columna en posici√≥n 1

In [ ]:
provincia_df.iloc[:3, :1] # Con objeto de corte filas y columnas [ini:fin:pasos , ini:fin:pasos]

`loc` permite el acceso a un grupo de filas y columnas por etiqueta(s) o un array booleano.

In [ ]:
provincia_df

In [ ]:
provincia_df.loc['Salta'] # Por etiqueta de fila (indice)

In [ ]:
provincia_df.loc[['Salta','Buenos Aires']] # Por lista de etiquetas de filas

In [ ]:
provincia_df.loc['Salta' ,'Poblacion'] # Por etiqueta de fila y columna [ etiqueta fila (indice) , etiqueta columna ]

In [ ]:
provincia_df.loc[['Salta','Buenos Aires'], ['Poblacion']] # Por lista de etiquetas [filas, columnas]

In [ ]:
provincia_df.loc[:'Salta':, :'Poblacion'] # Por objeto de corte

In [ ]:
provincia_df.loc[[True, False,False,False,False],[True,False]] # Por lista booleana con la misma longitud que el eje de filas o columnas

* La principal diferencia que existe entre loc e iloc es que en loc se usan las etiquetas (los nombres asignados tanto a las filas como a las columnas) mientras que en iloc se usan las posiciones de los elementos (la posici√≥n en la fila o la columna, comenzado a contar en 0).

Podemos indexar un DataFrame usando loc y m√°scaras booleanas

In [ ]:
provincia_df['Superficie_km2'] > 148008 # Filtrar por operador relacional. 'Superficie_km2' > 148008

In [ ]:
provincia_df.loc[
  provincia_df['Superficie_km2'] > 148008,
  ['Poblacion', 'Superficie_km2']
                 ] # Por m√°scara

In [ ]:
provincia_df.loc[
    provincia_df['Superficie_km2'] > 148008,
    ['Poblacion']]

üìù **Ejercicio**

Para el DataFrame `provincia_df`, seleccionar las filas cuyos valores de la  columna 'Poblacion' sean mayor o igual a 3 millones (3000000) .

In [ ]:
# Ejercicio

**Haz doble click para ver la respuesta**

<!--
provincia_df.loc[provincia_df['Poblacion'] > 3000000]
-->

Si se desea guardar los datos filtrados del `Dataframe` se puede asignar el resultado del filtrado a una variable

In [ ]:

provincia_cota_df = provincia_df.loc[ # Nuevo DataFrame
    provincia_df['Superficie_km2'] > 148008,
    ['Poblacion']
    ]

# Mostrar
provincia_cota_df

### Funciones aritm√©ticas y mapeo con Pandas
---

In [ ]:
provincia_df

Operaciones aritm√©ticas

In [ ]:
provincia_df['Superficie_km2'] + 10 # Sumar por escalar

In [ ]:
provincia_df['Poblacion'] / provincia_df['Superficie_km2'] # Dividir los valores de la columna ' Poblacion' por la columna 'Superficie_km2'

Funciones aritm√©ticas

In [ ]:
provincia_df.sum(axis=0) # Sumar los valores sobre el eje solicitado. Por defecto se aplica sobre las filas.

En Pandas:

* axis=0 significa a lo largo de "√≠ndices". Es una operaci√≥n por filas.
* axis=1 significa a lo largo de "columnas". Es una operaci√≥n por columnas.

In [ ]:
provincia_df.mean() # Calcular la Media de los valores sobre el eje solicitado. Por defecto se aplica sobre las filas.

Todas las columnas son n√∫mericas, por eso no tira error al aplicar `mean()` sobre todo los valores del ``DataFrame`.

In [ ]:
(provincia_df - provincia_df.mean()) / provincia_df.std() # Combinar operaciones. Estandarizaci√≥n (representar los datos con una media cero y una desviaci√≥n est√°ndar de 1), de forma muy concisa:

`map` aplica una funci√≥n a un DataFrame elemento por elemento.
Este m√©todo aplica una funci√≥n que acepta y devuelve un escalar a cada elemento de un DataFrame.

Podemos hacerlo utilizando funciones "lambda". Se utilizan para crear funciones an√≥nimas. La expresi√≥n es:

```
lambda argumento(s) : expresion
```
Genera un objeto de funci√≥n. El objeto sin nombre se comporta como un objeto de funci√≥n definido con:

```
def <lambda>(parametros):
    return expresion
```
Para m√°s informaci√≥n sobre `lambda`, click en [expresiones lambda en documentaci√≥n oficial](https://docs.python.org/3/reference/expressions.html#lambda)

In [ ]:
# con funciones lambda.
provincia_df.map(lambda x: round(x,2))

In [ ]:
# Tambi√©n es posible utilizar el mapa con funciones que no son funciones lambda:
provincia_df.map(round, ndigits=1)

 `apply`es una funci√≥n a lo largo de un eje del DataFrame.

Los objetos que se pasan a la funci√≥n son objetos series cuyo √≠ndice es el √≠ndice del DataFrame (axis=0) o las columnas del DataFrame (axis=1).

Para m√°s informaci√≥n, click en [apply en documento oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [ ]:
# Numpy
import numpy as np

# Aplicar suma por eje fila, axis = 0.
provincia_df.apply(np.sum, axis=0)

In [ ]:
# Aplicar suma por eje fila, axis = 1.
provincia_df.apply(np.sum, axis=1)

In [ ]:
provincia_df['Superficie_km2'].apply(round,ndigits=1)

### ‚úç Recordatorio

* Importar el paquete, tambi√©n conocido como `import pandas as pd`

* Una tabla de datos se almacena como un `DataFrame` de pandas

* Cada columna de un `DataFrame` es una `Series`

* Puedes hacer operaciones sobre los datos aplicando un m√©todo a un `DataFrame` o una `Series`


## ü•á Manipulaci√≥n de datos

Python se ha convertido en un lenguaje muy apreciado para la manipulaci√≥n de textos y archivos debido a su sintaxis sencilla para interactuar con archivos, estructuras de datos intuitivas y funciones pr√°cticas para procesar los datos.

A continuaci√≥n exploraremos e integraremos tecnolog√≠as con Python para responder:

* Importar y exportar conjuntos de datos.
* Ordenar los conjuntos de datos y remodelar su estructura en un formato adecuado para el an√°lisis.

###  ¬øC√≥mo leer y ecribir datos tabulares?

#### Importar archivos

Para explorar los m√©todos de Pandas `read_*` vamos a utilizar el conjunto de datos denominados *winemag-data-130k-v2*.

* Recuerda: Para acceder a los datos del curso [Github](https://github.com/formacionCDIA/cursoCDIA/tree/main/Data)

##### Archivos csv

In [ ]:
import pandas as pd # Importar librer√≠a

In [ ]:
url_base = 'https://raw.githubusercontent.com/formacionCDIA/cursoCDIA/main/Data/'

nombre_archivo = 'winemag-data-130k-v2.csv'
ruta_archivo = url_base + nombre_archivo

In [ ]:
datosCSV_df = pd.read_csv(ruta_archivo) # Leer el achivo csv, el argumento por defecto sep = ‚Äò,‚Äô
datosCSV_df.head() # Mostrar los primeros registros del dataframe.

Otra opci√≥n para evitar columnas

In [ ]:
datosCSV_df = pd.read_csv(ruta_archivo, index_col='Unnamed: 0')

datosCSV_df.head()

Para m√°s informaci√≥n click en [read_csv en documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv)

##### Archivos Excel

In [ ]:
nombre_archivo = 'winemag-data-130k-v2.xlsx'
ruta_archivo = url_base + nombre_archivo

In [ ]:
datosXLSX_df = pd.read_excel(ruta_archivo) # sheet_name='hoja1'
datosXLSX_df.head()

Leer archivos Excel con varias hojas no es tan diferente. Solo tienes que especificar un argumento adicional, `sheet_name`, en el que puedes pasar una cadena para el nombre de la hoja o un n√∫mero entero para la posici√≥n de la hoja.

Para m√°s informaci√≥n sobre m√©todos de lectura click en [Funciones de lectura](https://pandas.pydata.org/docs/user_guide/io.html) y  [read_excel en documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

#### Exportar archivos
---

Pandas te permite exportar datos a varios formatos. Esto ocurre especialmente cuando los datos se transforman mediante pandas y necesitan guardarse localmente en tu m√°quina. A continuaci√≥n se explica c√≥mo convertir los DataFrames de pandas a csv y excel.

`to_csv()`

In [ ]:
datosCSV_df.to_csv("winemag-data-130k-v2_DF.csv", index=False) # Se guard√° en carpeta actual

`to_excel()`

Considerar los formatos ‚Äú.xls‚Äù o ‚Äú.xlsx‚Äù.

In [ ]:
datosXLSX_df.to_excel("winemag-data-130k-v2_DF.xlsx", index=False) # Se guard√° en carpeta actual

üìù **Ejercicio**

Leer el archivo csv que se encuentra en:

In [ ]:
url_base = 'https://raw.githubusercontent.com/formacionCDIA/cursoCDIA/main/Data/'
nombre_archivo = 'PredictStudents_data.csv'
ruta_archivo = url_base + nombre_archivo
ruta_archivo

Guardar los datos en un objeto DataFrame 'data_df'. El separador del archivo es sep= ';'.

In [ ]:
# Soluci√≥n

**Haz doble click para ver la respuesta**

<!--
import pandas as pd

# https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success
data_df = pd.read_csv(ruta_archivo, sep=';')
data_df
 -->

### ¬øC√≥mo empezar a explorar un conjunto de datos en un `DataFrame` ?

Continuaremos trabajando con el conjunto de datos `winemag-data-130k-v2.csv`.


* Los datos fueron escrapeados de el sitio WineEnthusiast en el a√±o 2017.
* Presentan 129971 rese√±as de vinos con caracter√≠sticas sobre la variedad, ubicaci√≥n, bodega, precio y descripci√≥n del vino.

Para m√°s informaci√≥n clicar en [Rese√±a de vino en Kaggle](https://www.kaggle.com/zynicide/wine-reviews/)

**Descripci√≥n del conjunto de datos**
* country: El pa√≠s de origen del vino.
* description
* designation: El vi√±edo dentro de la bodega de donde provienen las uvas que hicieron el vino.
* points: La cantidad de puntos que WineEnthusiast calific√≥ al vino en una escala de 1 a 100 (aunque dicen que solo publican rese√±as de vinos que punt√∫an &gt;=80).
* price: El costo de una botella de vino.
* province: La provincia o estado de donde proviene el vino.
* region_1: La zona de cultivo de vino en una provincia o estado (por ejemplo, Napa).
* region_2: A veces, hay regiones m√°s espec√≠ficas especificadas dentro de una zona de cultivo de vino (por ejemplo, Rutherford dentro del Valle de Napa), pero este valor a veces puede estar en blanco.
* taster_name
* taster_twitter_handle
* title: El t√≠tulo de la rese√±a del vino.
* variedad: El tipo de uva utilizada para hacer el vino (por ejemplo, Pinot Noir).
* winery: La bodega que elabor√≥ ‚Äã‚Äãel vino.

In [ ]:
import pandas as pd

In [ ]:
url_base = 'https://raw.githubusercontent.com/formacionCDIA/cursoCDIA/main/Data/'

nombre_archivo = 'winemag-data-130k-v2.csv'

ruta_archivo = url_base + nombre_archivo # Especificar ruta de archicvo csv

In [ ]:
reseVino_df = pd.read_csv(ruta_archivo, index_col='Unnamed: 0')

In [ ]:
reseVino_df.head() # Ver 5 primeras filas

In [ ]:
reseVino_df.tail() # Ver las √∫ltimas 5 filas

Si quiero especificar la cantidad de filas a ver.

In [ ]:
reseVino_df.head(2) # Primeras 2 filas

tail()

In [ ]:
reseVino_df.tail(10) # Ver 10 √∫ltimas filas

Un atributo ya visto de un `Dataframe` es `dtypes`

In [ ]:
reseVino_df.dtypes # Ver tipos de datos

En base a los tipos de datos que se cargaron en el Dataframe:
* pa√≠s, descripci√≥n, designaci√≥n, provincia, regi√≥n_1, regi√≥n_2, catador_nombre,
catador_usuario_twitter, t√≠tulo, variedad, bodega son tipos de datos categor√≠cos, que en python se pueden identificar como de tipo cadena (objeto). Aunque lo ideal ser√≠a transformarlos en `category`. Lo veremos m√°s adelante.
* puntos y precio son n√∫mericos, punto es entero y precio continuo.

A simple vista, este conjunto de rese√±a de vino, estar√≠a cargado correctamente. Para verificar que estos datos estan correctos,trabajar con la documentaci√≥n asociada.

Para reforzar los tipos de datos en python ver las secci√≥n de Fundamentos.

Para obtener un resumen t√©cnico del objeto `reseVino_df` que almacena al conjunto de datos, usar el m√©todo `info()`

In [ ]:
reseVino_df.info()

En base a la informaci√≥n compartida por `info`:

* Hay 129971  entradas, es decir, 129971  filas.

* Cada fila tiene una etiqueta de fila (√≠ndice) con valores que van de 0 a 129970.

* La tabla tiene 13 columnas. Ser√≠an pocas las columnas que tienen el total de valores, es decir, 129971 valores no nulos o faltantes, est√°s son  las columnas `description`(descripci√≥n),`points`(puntos),`title`(t√≠tulo)y `winery`(bodega). En el resto habr√≠a valores faltantes.  
* Existin distintos tipos de datos de Pandas en el conjunto de datos, objetos, n√∫mericos enteros y continuos.

* La cantidad aproximada de RAM utilizada para almacenar el DataFrame es de  13.9+ MB.

In [ ]:

def resumen_inicial(datos):
  """
  Informa sobre la estructuraci√≥n de los datos en el objeto DataFrame.

  Par√°metros:
      datos: Objeto de dato, Dataframe.
  Retorno:
      impresiones en pantalla
  Ejemplo:
          >>> resumen_inicial(df)

  """
  print("Primeras 2 filas")
  display(datos.head(2))
  print("-----------------------------------------------------------------")
  print("Nombres de columnas")
  display(datos.columns)
  print("-----------------------------------------------------------------")
  print("Dimensi√≥n")
  display(datos.shape)
  print("-----------------------------------------------------------------")
  print("Resumen t√©cnico")
  display(datos.info())
  print("-----------------------------------------------------------------")

Existen distintas funciones para explorar el conjunto de datos en el DataFrame. Teniendo en cuenta la funci√≥n creada `resumen_inicial`, ordenamos la informaci√≥n que proporcionan diferentes m√©todos de Pandas.

In [ ]:
resumen_inicial(reseVino_df)

### ¬øC√≥mo seleccionar un subconjunto de datos de un DataFrame?
---

Deseamos seleccionar los puntos asignados a los vinos (points). Recordemos
points representa la cantidad de puntos que WineEnthusiast calific√≥ al vino en una escala de 1 a 100 (aunque dicen que solo publican rese√±as de vinos que punt√∫an >=80).

In [ ]:
punto = reseVino_df["points"] # Seleccionar caracter√≠stica. Guardar serie.

punto.head() # Ver los primeros 5 valores

Cada columna de un DataFrame es una serie. Si se selecciona una sola columna, el objeto devuelto es una serie de pandas.

Ahora nos interesa los points (puntos) y el country (pa√≠s) de los vinos del conjunto de datos. Recordemo  que country representa el pa√≠s de origen del vino.

In [ ]:
reseVino_df[["country","points"]] # Seleccionar valores de pais y punto del conjunto de datos

La selecci√≥n devolvi√≥ un DataFrame. Para verificarlo, se puede utilizar la funci√≥n de Pandas `type`

In [ ]:
type(reseVino_df[["country","points"]])

Vimos que en en Pandas podemos filtrar por m√°scara.
Seleccionamos todos los vinos con cuyo puntos correspondan al m√°ximo punto del conjunto de datos.

Busco el valor m√°ximo en puntos.

In [ ]:
reseVino_df["points"].max() # Llamar a la funci√≥n max

In [ ]:

max_mascara = reseVino_df["points"] == reseVino_df["points"].max() # Definir la m√°scara de filtro
max_mascara


La salida de la expresi√≥n condicional (==, pero tambi√©n  !=, <,>, <=,‚Ä¶ funcionar√≠a) es en realidad una serie de valores booleanos de pandas (ya sea Verdadero o Falso) con la misma cantidad de filas que el DataFrame original. Dicha serie de valores booleanos se puede utilizar para filtrar el DataFrame coloc√°ndolo entre los corchetes de selecci√≥n []. Solo se seleccionar√°n las filas para las que el valor sea Verdadero.

In [ ]:
maxPun_vino_df = reseVino_df[max_mascara] # Guardar y seleccionar vinos en base a la condici√≥n  m√°scara
maxPun_vino_df

`shape` es un atributo de una serie de pandas y un DataFrame que contiene la cantidad de filas y columnas: (nrows, ncolumns). Una serie de pandas es unidimensional y solo se devuelve la cantidad de filas.

In [ ]:
maxPun_vino_df.shape


Ahora Seleccionemos todos los vinos cuyo origen de pa√≠s sean de Argentina y Chile. Sabemos que los valores en 'country' contienen a 'Argentina' y 'Chile'.

In [ ]:
pais_vino_df = reseVino_df[  # Guardar y seleccionar los vinos de los paises definidos
    reseVino_df['country'].isin(['Argentina','Chile']) # Condici√≥n
    ]

pais_vino_df.head()

De manera similar a la expresi√≥n condicional, la funci√≥n condicional `isin` devuelve un valor verdadero para cada fila en la que se encuentran los valores de la lista proporcionada. Para filtrar las filas en funci√≥n de dicha funci√≥n, se utiliza la funci√≥n condicional dentro de los corchetes de selecci√≥n []. En este caso, la condici√≥n dentro de los corchetes de selecci√≥n `reseVino_df['country'].isin(['Argentina','Chile'])` comprueba para qu√© filas la columna country es 'Argentina' o 'Chile'.

Ahora seleccionemos vinos con determinadas caracter√≠sticas, es decir filas y columnas del conjunto de datos.

Seleccionemos las caracter√≠sticas de pa√≠s de origen ('country'), precio('price'), puntos('points') de vinos de Argentina y Chile.

In [ ]:
pais_vino_df = reseVino_df.loc[
     reseVino_df['country'].isin(['Argentina','Chile']), # Condici√≥n
      ['country','price','points'] # Columnas seleccionadas
     ]

pais_vino_df.head()

In [ ]:
pais_vino_df.shape

En este caso, se crea un subconjunto de filas y columnas de una sola vez y ya no basta con utilizar corchetes de selecci√≥n []. Se requieren los operadores `loc/iloc` antes de los corchetes de selecci√≥n []. Al utilizar `loc/iloc`, la parte antes de la coma son las filas que desea seleccionar y la parte despu√©s de la coma son las columnas que desea seleccionar.

Estamos interesadas en las filas 10 a 25 y las columnas 0 a 3.

In [ ]:
reseVino_df.iloc[10:25, 0:3] # Seleccionar registros en base a posiciones

Nuevamente, se crea un subconjunto de filas y columnas de una sola vez y ya no es suficiente usar solo corchetes de selecci√≥n []. Cuando est√© interesado espec√≠ficamente en ciertas filas y/o columnas en funci√≥n de su posici√≥n en la tabla, use el operador `iloc` delante de los corchetes de selecci√≥n [].

### ¬øC√≥mo crear nuevas columnas derivadas de las columnas existentes en DataFrame?

Hasta ahora hemos guardados selecciones de filas o columnas en variables. Por ejemplo la selecci√≥n de subconjunto de datos en `maxPun_vino_df` o `pais_vino_df`.

Recordemos, que cada columna en un DataFrame es una serie, por lo que podemos llamar a atributos y m√©todos para generar nuevos valores y almacenarlos como una nueva columna en el DataFrame.
Ahora veremos como crear una nueva columna en el DataFrame que llamaremos `stand_price`.



```
DataFrame['nueva_columna'] = valor
```

In [ ]:
reseVino_df['stand_price'] = (reseVino_df['price'] - reseVino_df['price'].mean()) /  reseVino_df['price'].std() # # Crear nueva columna. Guardar valores de precio modificado

reseVino_df[['price','stand_price']].head()

Se desea cambiar el nombre de las columnas de datos del DataFrame se puede usar `rename`.

In [ ]:
# rename tiene el atributo inplace, por defecto es Falso, que da lugar a crear uno nuevo.
# Si es Verdadero, se ignora el valor de la copia, por lo tanto se modifica el Dataframe original
reseVino_df.rename(
    columns={
        "stand_price": "standard_price"
    }
)

La funci√≥n rename() se puede utilizar tanto para etiquetas de filas como de columnas. Proporcione un diccionario con las claves (los nombres actuales) y los valores (los nombres nuevos) para actualizar los nombres correspondientes.Para m√°s informaci√≥n click en [rename en documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html#pandas.DataFrame.rename).

#### Funciones de Dataframe

**Unique**

`unique`devuelve los valores unicos en el orden de aparici√≥n. Este NO ordena.  Incluye valores NA (valores faltantes). Por ejemplo si quisieras responder:

a) ¬øDe que pa√≠ses de origen provienen los vinos? o ¬øQ√∫e valores distintos (√∫nicos) hay en la columna country ?

In [ ]:
reseVino_df['country'].unique()

b) ¬ø Cu√°ntos valores distintos hay en la columna country ?

In [ ]:
len(reseVino_df['country'].unique()) # obtener la cantidad de elementos de un objeto.

In [ ]:
reseVino_df['country'].nunique() # Contar la cantidad de valores observados.  No cuenta valores faltantes.

**value_counts**

`value_counts` devuelve una serie que contiene la frecuencia de cada fila distinta en el DataFrame. De manera predeterminada, las filas que contienen valores NA se omiten del resultado. De manera predeterminada, la serie resultante estar√° en orden descendente, de modo que el primer elemento sea la fila que aparece con mayor frecuencia.
Ante la pregunta:

c) ¬ø Con qu√© frecuencia (cu√°ntas veces) aparece cada uno de los paises ?

In [ ]:
reseVino_df['country'].value_counts()

In [ ]:
# normalize = True devuelve proporciones en lugar de frecuencias. Valor predeterminado False.
# Multiplicando por 100 obtenemos porcentaje
reseVino_df['country'].value_counts(normalize=True)*100

Hay distintas estad√≠sticas disponibles que se pueden aplicar a columnas con datos num√©ricos. Las operaciones en general excluyen los datos faltantes y funcionan en todas las filas de manera predeterminada. Estaremos profundizando en estad√≠stica descriptiva en la secci√≥n que tiene su nombre. Pero veremos aqu√≠ la media (en ingl√©s, *mean*).


**mean**

`mean` devuelve la media de los valores sobre el eje solicitado. Por defecto el eje `axis = 0` , es decir que por defectos calcula la media de los valores de las filas. Por ejemplo:

In [ ]:
reseVino_df["price"].mean()

g) ¬ø Cu√°ntos vinos tienen un precio por encima de la media ?

In [ ]:
reseVino_df[reseVino_df["price"]>reseVino_df["price"].mean()]

#### Apply
Retomando lo visto, utilizaremos el m√©todo `apply` de los dataframes de Pandas, nos permite realizar una acci√≥n sobre cada fila o columna (sobre un "axis") del dataset.
Por ejemplo, queremos crear una nueva columna que se llame "description_len" y contenga la cantidad de caracteres que hay en cada fila de la columna "description".

Por ejemplo deseamos crear una columna, que tenga la cantidad de caracteres que tiene la columna description. Para ello consideramos `pandas.Series.str.len`
, que calcula la longitud de cada elemento de la serie/√≠ndice. Para m√°s informaci√≥n click en [len en documentaci√≥n oficial](https://pandas.pydata.org/pandas-docs/version/2.0/reference/api/pandas.Series.str.len.html)

In [ ]:
reseVino_df['description_length'] = reseVino_df['description'].str.len() # Guardar y almacenar la cantidad de caracteres de los valores de 'description'
reseVino_df[['description','description_length']].head(2)

Hagamos un enfoque distinto


Primero: Definamos una funci√≥n que cuente los caracteres de un string:

In [ ]:
def cantidad_palabras(cadena):
  return len(cadena.split(' '))

In [ ]:
reseVino_df['description_length2'] = reseVino_df['description'].apply(cantidad_palabras) # # Guardar y almacenar la cantidad de caracteres de los valores de 'description' utilizando apply y count_string_len

In [ ]:

reseVino_df[['description','description_length2']].head(2)

In [ ]:
reseVino_df.iloc[1,]

Para utilizar apply, no hace falta definir una funci√≥n aparte. Tambi√©n podemos hacerlo directamente utilizando funci√≥nes "lambda":

In [ ]:
# Guardar y almacenar la cantidad de caracteres de los valores de 'description' utilizando apply y lambad
reseVino_df['description_length3'] = reseVino_df['description'].apply(lambda x: len(x.split(' ')))

In [ ]:
# Mostrar
reseVino_df[['description','description_length3']].head(2)

üìù **Ejercicio**

### ¬øC√≥mo resumir un conjunto de datos de un DataFrame?

##### Agregar

La funci√≥n `Dataframe.aggregate()` se utiliza para aplicar funciones de agregaci√≥n en una o m√°s columnas. Algunas de las funciones m√°s utilizadas son las siguientes:
* sum: devuelve la suma de los valores del eje solicitado
* min: devuelve el m√≠nimo de los valores del eje solicitado
* max: devuelve el m√°ximo de los valores del eje solicitado
Podemos aplicar la agregaci√≥n en un DataFrame, df, como `df.aggregate()` o `df.agg()`.

Estas funciones de agregaci√≥n solo funcionan con columnas de tipo num√©rico, pero tambi√©n se podr√≠an crear funciones de agregaci√≥n para trabajar con otros tipos de datos. Si se desea aplicar agregaci√≥n:


```
agregacion = df.agg(func)

```

In [ ]:
# Seleccionar variables n√∫mericas
numerico_df = reseVino_df[['points','price']]

numerico_df. head()

In [ ]:
# Si quiero seleccionar sola las n√∫mericas
# reseVino_df.select_dtypes(include = 'number') # np.number or 'number'

In [ ]:
numerico_df.agg('max') # Agregar para por filas para obtener el max de cada columna. Por defecto axis = 0 (eje de filas).

In [ ]:
numerico_df.agg(['sum','min','max'])

In [ ]:
numerico_df.agg({ #  Diccionario especificar para cada columna. Por defecto axis = 0 (eje de filas)

    'points' : ['sum', 'min'], # Para la columna points
    'price' : ['min', 'max'] # Para la columna price
    }
                )

Si no se aplica ninguna agregaci√≥n espec√≠fica a una columna entonces le corresponde un valor NaN (faltante)

In [ ]:
numerico_df.agg('sum', axis=1) # Agregar por columna, suma de cada fila

##### Agrupar
Agrupar datos con pandas usando una clave es una operaci√≥n com√∫n para el an√°lisis de datos.
Para agrupar datos usando una clave, usamos el m√©todo `groupby()` de un DataFrame y especificamos la columna que queremos usar como clave para agrupar:

```
agrupado = df.groupby('nombre_columna')
```
Despu√©s de agrupar, normalmente se desea realizar alguna agregaci√≥n. Las funciones de agregaci√≥n comunes incluyen las siguientes:
* agrupado.sum(): calcula la suma de todas las columnas num√©ricas
* agrupado.mean(): calcula el promedio (media aritm√©tica)
* agrupado.count(): cuenta la cantidad de valores no nulos
* agrupado.agg(['sum', 'mean', 'count']): aplica varias funciones de agregaci√≥n a la vez: suma, media y recuento


Veamos ejemplos:

In [ ]:
agrupado_por_country = reseVino_df.groupby('country')
agrupado_por_country

Vemos que groupby nos devuelve un objeto Pandas.core.groupby.generic.DataFrameGroupBy.

Sobre este objeto, podemos aplicar directamente funciones de agregaci√≥n como:

In [ ]:
agrupado_por_country.count().head() # Aplicar count, para cada grupo de categorias de la columna Country contar los valores no nulos asociados

In [ ]:
agrupado_por_country.mean().head() # Aplicar mean. Esto funciona para variables n√∫mericas

In [ ]:
agrupado_por_country.mean(numeric_only=True).head() # Aplicar mean para variables n√∫mericas

In [ ]:
agrupado_por_country['points'].mean().head()

Tambi√©n podemos agrupar por m√∫ltiples columnas:

In [ ]:

agrupado_por_country_prov = reseVino_df.groupby(
    ['country', 'province'] # Agrupar por m√°s de 1 columna
    )


agrupado_por_country_prov.mean(numeric_only=True).head()

Y si no queremos que las variables por las que agrupamos se conviertan en indices y sean una columna m√°s, podemos especificarlo en la funci√≥n:

In [ ]:
agrupado_por_country_prov = reseVino_df.groupby(
    ['country', 'province'],
    as_index=False # modificar el argumento as_index, que por defecto es as_index = True

    )


agrupado_por_country_prov.mean(numeric_only=True).head()

Finalmente, tambi√©n podemos aplicar distintas funciones de agregaci√≥n a cada columna.


1. Agrupar el conjunto de datos por pais.

2. Obtener una columna que tenga el precio medio por pa√≠s y otra que contenga la sumatoria de puntos. (`.mean()` y `.sum()` ).

In [ ]:
agrupado_por_country = reseVino_df.groupby(
    ['country'], # Agrupar por pais
    as_index=False
    ).agg( # Agregar de manera determinada para price y points

    {'price': ['mean'],
     'points': ['sum']
     }
    )

agrupado_por_country.columns = ["Country",'Price mean', 'Points sum'] # Modificar nombre de columna

agrupado_por_country.head()

Nota Pr√°cticas recomendadas para agrupar
Al agrupar datos en Pandas, hay varias cosas que se deben tener en cuenta para garantizar resultados precisos:
‚Ä¢ datos faltantes: tenga en cuenta los datos faltantes en las columnas utilizadas para agrupar. Pandas excluir√° las filas con datos faltantes del resultado agrupado, lo que puede afectar los c√°lculos finales.
‚Ä¢ MultiIndex: al agrupar por varias columnas, Pandas devuelve un √≠ndice jer√°rquico (MultiIndex). Familiar√≠cese con el trabajo con MultiIndex y considere restablecer el √≠ndice si es necesario, como lo hemos estado haciendo para simplificar.
‚Ä¢ Orden de operaciones: el orden en el que realiza agrupaciones y agregaciones puede afectar los resultados. Tenga en cuenta la secuencia en la que aplica las funciones de agrupaci√≥n y agregaci√≥n.
‚Ä¢ Agrupaci√≥n de conjuntos de datos grandes: para conjuntos de datos grandes, la agrupaci√≥n puede consumir mucha memoria. Considere usar t√©cnicas como fragmentaci√≥n o procesamiento paralelo para administrar el uso de memoria y el tiempo de c√°lculo.

In [ ]:
print("Tabla Ascendente por Points")
display(agrupado_por_country.sort_values(by=['Points sum'], ascending=[True]).head())
print("")
print("--------------------------------")
print("")
print("Tabla Descendente por Points")
display(agrupado_por_country.sort_values(by=['Points sum'], ascending=[False]).head())

##### Reorganizar

###### Tablas din√°micas (Pivot)
La funci√≥n `pivot_table()` crea una tabla din√°mica de estilo hoja de c√°lculo como `DataFrame`.
Los niveles de la tabla din√°mica se almacenar√°n en objetos MultiIndex (√≠ndices jer√°rquicos) en el √≠ndice y las columnas del `DataFrame`. Se requiere un √∫nico valor para cada combinaci√≥n de √≠ndice/columna.



```
pd.pivot_table(data, values, index, columns, aggfunc ...)

```
En t√©rminos de sintaxis, el expresion anterior representa lo siguiente:
* data :  un conjunto de datos .
* values : son las columnas a las que se aplicar√° la funci√≥n de agregaci√≥n. Por defecto la funci√≥n de agregaci√≥n es mean()
* index : es una columna para agrupar datos. Claves por las que se agrupar√°n en el √≠ndice de la tabla din√°mica.
* columns: columnas para especificar la categor√≠a de los datos.
* aggfunc es la funci√≥n de agregaci√≥n que se aplicar√°.

Entre otros argumentos.  Para m√°s informaci√≥n click en [pivot table en documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html)

In [ ]:
reseVino_df.columns

In [ ]:
pd.pivot_table(reseVino_df[reseVino_df['country'].isin(['Argentina','Chile'])], values=['points','price'], index =['variety'], columns=['country'])

üìù **Ejercicio**

### ¬øC√≥mo combinar datos de varias tablas?


##### Concatenaci√≥n de DataFrames
Cuando tienes conjuntos de datos distribuidos en varios DataFrames con estructuras similares (las mismas columnas o las mismas filas) y quieres combinarlos en un √∫nico DataFrame, aqu√≠ es donde la concatenaci√≥n resulta muy √∫til. El proceso de concatenaci√≥n puede realizarse a lo largo de un eje en particular, ya sea por filas (eje=0) o por columnas (eje=1).

La funci√≥n `concat()` se utiliza para concatenar lista de `DataFrames` o lista de `Series`.  Veamos ejemplo:

In [ ]:

df1 = reseVino_df[['country','price']].head(2)
display('DF1 ',df1)
print("--------------------------------")
df2 = reseVino_df[['country','price','points']].tail(2)
display('DF2 ',df2)

In [ ]:
pd.concat([df1,df2]) # Concatenar lista de DataFrames. Por defecto axis=0, se concatenan filas, apilando los DataFrames uno sobre el otro.

In [ ]:
df1 = reseVino_df[['country','price']].head(10)
display('DF1',df1)
print("--------------------------------")
df2 = reseVino_df[['points','variety']].head(10)
display('DF2',df2)

In [ ]:
pd.concat([df1,df2], axis = 1) # Concatenar lista de DataFrames. axis=1, se concatenan columnas, se agregan columnas teniendo en cuenta el indice del Dataframe

##### Fusi√≥n de DataFrames
La funci√≥n `merge()` admite m√∫ltiples opciones de uni√≥n similares a las operaciones de estilo de base de datos. Fusiona objetos `DataFrame` o `Serie` con nombre con una uni√≥n de estilo base de datos.

https://pandas.pydata.org/docs/reference/api/pandas.merge.html#pandas.merge


Estos son los siguientes tipos de uniones:
* La uni√≥n interna toma la intersecci√≥n de dos o m√°s `DataFrame` o `Serie`. Corresponde a la UNI√ìN INTERNA en el lenguaje de consulta estructurado (SQL).
* La ‚Äã‚Äãuni√≥n externa toma la uni√≥n de dos o m√°s `DataFrame` o `Serie`. Corresponde a la UNI√ìN EXTERNA COMPLETA en SQL.
* La uni√≥n izquierda usa solo las claves del `DataFrame` o `Serie` izquierdo. Corresponde a la UNI√ìN EXTERNA IZQUIERDA en SQL.
* La uni√≥n derecha usa solo las claves del `DataFrame` o `Serie` derecho. Corresponde a la UNI√ìN EXTERNA DERECHA en SQL.

In [ ]:

import numpy as np
np.random.seed(1)


ids = np.arange(1,reseVino_df.shape[0]+1) # Crear ID en orden


reseVino_df['ID'] = ids # Crear DF
df1 = reseVino_df[['ID','country','price']].head(5)

display('DF1',df1)
print("--------------------------------")
df2 = reseVino_df[['ID','points','variety']].head(15)
display('DF2',df2)

In [ ]:
datos_inner_df = pd.merge(df1, df2, on='ID', how='inner')
datos_inner_df

Como vemos en el fragmento de c√≥digo anterior, la funci√≥n `pd.merge()` se utiliza para fusionar los dos DataFrames. El argumento `on='ID'` especifica que la columna ID debe utilizarse como clave para unir los DataFrames. El argumento `how='inner'`especifica que debe realizarse una uni√≥n interna. Este tipo de uni√≥n devuelve solo las filas que tienen valores coincidentes en ambos DataFrames, que, en este caso, son las filas en las que ID coincide tanto en df1 como en df2.

In [ ]:
datos_outer_df = pd.merge(df1, df2, on='ID', how='outer')
datos_outer_df

Como vemos en el fragmento de c√≥digo anterior, el argumento `on='ID'` especifica que la columna ID debe utilizarse como clave en la que fusionar los `DataFrames`. El argumento `how='outer'` especifica que debe realizarse una uni√≥n externa completa. Este tipo de uni√≥n devuelve todas las filas de ambos `DataFrames`, completando NaN donde no hay coincidencia.

In [ ]:
datos_right_df = pd.merge(df1, df2, on='ID', how='right')
datos_right_df

El argumento `how='right'` especifica que se debe realizar una uni√≥n externa derecha. Este tipo de uni√≥n devuelve todas las filas del DataFrame derecho (df1) y las filas coincidentes del DataFrame izquierdo (df2). Si no hay coincidencia, el resultado tendr√° NaN en las columnas del DataFrame izquierdo.

In [ ]:
datos_left_df = pd.merge(df1, df2, on='ID', how='left')
datos_left_df

El argumento `how='left'` especifica que se debe realizar una uni√≥n externa izquierda. Este tipo de uni√≥n devuelve todas las filas del DataFrame izquierdo (df2) y las filas coincidentes del DataFrame derecho (df1). Si no hay coincidencias, el resultado tendr√° NaN en las columnas del DataFrame derecho.

#### Nota

Manejo de duplicados al fusionar conjuntos de datos
El manejo de claves duplicadas antes de realizar operaciones de fusi√≥n es fundamental porque los duplicados pueden generar resultados inesperados, como productos cartesianos, donde las filas se multiplican por la cantidad de entradas coincidentes. Esto no solo puede distorsionar el an√°lisis de datos, sino que tambi√©n afecta significativamente el rendimiento debido al mayor tama√±o del DataFrame resultante.

üìù **Ejercicio**

### ¬øC√≥mo manejar los datos de series temporales?

In [ ]:
from datetime import datetime
import pandas as pd

In [ ]:
fecha_inicial = datetime.strptime("2000-01-01", "%Y-%m-%d") # fecha inicial
fecha_final = datetime.strptime("2024-12-31", "%Y-%m-%d") # fecha final
print(fecha_inicial, fecha_final)

In [ ]:
type(fecha_inicial)

In [ ]:
lista_fechas = pd.date_range(
    start = fecha_inicial,
    end = fecha_final
    ) # Por defecto la frecuencia es freq=D de d√≠as

print(lista_fechas)

En este primer ejemplo importamos la librer√≠a `datetime` y `pandas`  y utlizamos `datetime.strptime` y `pd.date_range()`.

El m√≥dulo `datetime`, integrado con Python, se utiliza para trabajar con  fechas, horas o intervalos de tiempo. Proporciona clases y m√©todos para fecha y hora.

In [ ]:
?datetime.strptime

En Python, podemos utilizar el m√©todo `datetime.strptime()` para convertir una cadena en un objeto datetime. El m√©todo strptime() toma dos argumentos: la cadena que se va a convertir y una cadena de formato que especifica el formato de la cadena de entrada.

In [ ]:
?pd.date_range

El m√©todo `pd.date_range()` devuelve un rango de tiempo igualmente espaciado `start <[=] x <[=] end`. Devuelve un DatetimeIndex de frecuencia fija.

Para trabajar m√°s en detalle con datos de series de tiempo, veamos el conjunto de datos *certificados-personas-por-fecha-ingreso-provincia-localidad.csv*
que se corresponde a los certificados de circulaci√≥n emitidos para ir de vacaciones durante la emergencia sanitaria en Argentina. Para m√°s detalle del archivo, click en [datos.gob.ar](https://datos.gob.ar/bg/dataset/turismo-certificado-unico-habilitante-para-circulacion-cuhc---verano)

In [ ]:
import pandas as pd

In [ ]:
url_base = 'https://raw.githubusercontent.com/acanavire/CD_IA_test/main/Data/'

nombre_archivo = 'certificados-personas-por-fecha-ingreso-provincia-localidad.csv'

ruta_archivo = url_base + nombre_archivo

In [ ]:
certif_df = pd.read_csv(ruta_archivo)
certif_df.head(5)

In [ ]:
certif_df.info()

#### Uso de las propiedades datetime de pandas

Queremos trabajar con las fechas en la columna 'fecha_ingreso' como objetos datetime en lugar de texto sin formato

In [ ]:
pd.to_datetime('2025-01-10') # a√±o-mes-dia

In [ ]:
pd.to_datetime('25-01-10')

In [ ]:
pd.to_datetime('10-01-2025') # Es correcto?

In [ ]:
pd.to_datetime('10-01-2025', dayfirst= True)

In [ ]:
pd.to_datetime('10-01-2025',format='%d-%m-%Y')

Inicialmente, los valores en datetime son cadenas de caracteres y no proporcionan ninguna operaci√≥n de fecha y hora (p. ej., extraer el a√±o, el d√≠a de la semana, etc.). Al aplicar la funci√≥n `to_datetime`, pandas interpreta las cadenas y las convierte en objetos de fecha y hora (es decir, datetime64[ns, UTC]).

Para nuestro conjunto de datos

In [ ]:
certif_df['fecha_ingreso_transf']=pd.to_datetime(certif_df['fecha_ingreso'])

In [ ]:
certif_df.dtypes

In [ ]:
certif_df.info()

In [ ]:
def transforma_fecha(x):
  return pd.to_datetime(x, format='%Y-%m-%d')

In [ ]:
certif_df2 = pd.read_csv(ruta_archivo,date_parser=transforma_fecha) #lambda x: pd.to_datetime(x)
certif_df2

In [ ]:
certif_df2.dtypes

In [ ]:
certif_df2 = pd.read_csv(ruta_archivo,parse_dates=['fecha_ingreso'],date_parser=lambda x: pd.to_datetime(x))#lambda x: pd.to_datetime(x)
certif_df2

In [ ]:
certif_df2.dtypes

In [ ]:
certif_df2 = pd.read_csv(ruta_archivo,date_parser=lambda x: pd.to_datetime(x), index_col="fecha_ingreso")
certif_df2

In [ ]:
certif_df2.index

In [ ]:
# Al trabajar con indice fecha
certif_df2.loc["2020-12-01"].head(5)

In [ ]:
certif_df2["2020-12-01":"2020-12-10"]

Veamos ahora como trabajar con partes de una fecha

In [ ]:
certif_df3 = pd.read_csv(ruta_archivo)
certif_df3['fecha_ingreso'] = pd.to_datetime(certif_df3['fecha_ingreso'],format='%Y-%m-%d')

certif_df3['anio'] = certif_df3['fecha_ingreso'].dt.year
certif_df3['mes'] = certif_df3['fecha_ingreso'].dt.month
certif_df3['dia'] = certif_df3['fecha_ingreso'].dt.day

# certif_df3['day'] = pd.DatetimeIndex(certif_df3['fecha_ingreso']).day

In [ ]:
certif_df3.head(5)

In [ ]:
# Chequeo es una fecha
certif_df3.info()

¬ø C√≥mo podemos acceder a el d√≠a/mes/a√±o de una columna ?

In [ ]:
#Pero sigamos con certif_df3
certif_df3.loc[certif_df3["fecha_ingreso"]=="2020-12-01"].head(5)

¬øC√≥mo podemos ver la semana?

In [ ]:
# datos["semana"]=pd.DatetimeIndex(datos['fecha_ingreso']).week
certif_df3["semana"]=certif_df3['fecha_ingreso'].dt.isocalendar().week
# El 0 es el lunes

In [ ]:
certif_df3.head()

üìù **Ejercicio**

#### Ejercitaci√≥n

2) Imprimir las primeras 5, las √∫tlimas 5 y un sampleo de 5 filas random.

In [ ]:
certif_df3.head(5)

In [ ]:
certif_df3.tail(5)

In [ ]:
certif_df3.sample(5)

3) ¬ø Cu√°ntas filas y columnas tiene el dataset ?

In [ ]:
certif_df3.shape

4) ¬ø Cu√°ntos valores nulos hay en cada columna ?

In [ ]:
certif_df3.isna()

In [ ]:
display(certif_df3.isna().sum())

5) ¬ø Qu√© porcentaje de valores nulos hay en cada columna ?

In [ ]:
display(((datos3.isna().sum())/datos.shape[0])*100)

6) ¬ø Cu√°ntos valores distintos encontramos en la variable `destino_provincia` ? ¬øY en `destino_localidad` ?

In [ ]:
certif_df3.info()

In [ ]:
print(certif_df3['destino_provincia'].unique())
print(certif_df3['destino_provincia'].nunique())
print(certif_df3['fecha_ingreso'].value_counts())

In [ ]:
print(certif_df3['destino_localidad'].unique())
print(certif_df3['destino_localidad'].nunique())

7) Convertir los valores de la columna destino_provincia a min√∫sculas

In [ ]:
#@title Soluci√≥n
certif_df3['destino_provincia'] = certif_df3['destino_provincia'].apply(lambda x: str.lower(x))
# datos3['destino_provincia'] = datos3['destino_provincia'].str.lower()
certif_df3

8) Calcular la media y mediana de la columna cantidad_personas

In [ ]:
certif_df3["cantidad_personas"].mean()

In [ ]:
certif_df3["cantidad_personas"].median()

10) ¬ø Cu√°l es la fecha m√≠nima de ingreso ? ¬ø Y la m√°xima ?

In [ ]:
certif_df3["fecha_ingreso"].min()

In [ ]:
certif_df3["fecha_ingreso"].max()

11) ¬ø Cu√°ntos certificados se emitieron en Febrero de 2021 ?

In [ ]:
mask_mes_anio = (certif_df3['month'] == 2) & (certif_df3['year'] == 2021)
certif_df3[mask_mes_anio]['cantidad_certificados'].sum()

11.1) ¬øY si quisiera saber los certificados por cada a√±o y mes?

In [ ]:
certif_df3.groupby(['month']).agg({'cantidad_certificados':["sum"]})

In [ ]:
#@title Soluci√≥n
certif_df3.groupby(['year','month'], as_index=False).agg({'cantidad_certificados': ["sum"]})

14) Agrupar los datos por `destino_provincia` y obtener:
  - Cantidad total de certificados emitidos
  - Cantidad total de personas que lo solicitaron
  - Fecha de el √∫ltimo certificado emitido

In [ ]:
group_by_destino_provincia = certif_df3.groupby(['destino_provincia'])

In [ ]:
group_by_destino_provincia['cantidad_certificados','cantidad_personas'].sum()

In [ ]:
fecha_final = certif_df3.groupby(['destino_provincia'], as_index=False).agg({'fecha_ingreso': ["max"]})
fecha_final.columns = ["Provincia",'Fecha final']
display(fecha_final)

15) ¬ø Cu√°l es la provincia que m√°s certificados emitidos tuvo en Enero de 2021 ?

In [ ]:
mask = (certif_df3["month"]==1) & (certif_df3["year"]==2021)

certificados_totales = certif_df3[mask].groupby(['destino_provincia'], as_index=False).agg({'cantidad_certificados': ["sum"]})
certificados_totales.columns = ["Provincia",'Certificados totales']

display(certificados_totales)

display(certificados_totales.iloc[certificados_totales['Certificados totales'].idxmax()])

### ¬øC√≥mo crear gr√°ficos en pandas?

In [ ]:
import pandas as pd

In [ ]:
url_base = 'https://raw.githubusercontent.com/acanavire/CD_IA_test/main/Data/'

nombre_archivo = 'winemag-data-130k-v2.csv'

ruta_archivo = url_base + nombre_archivo # Especificar ruta de archicvo csv

In [ ]:
reseVino_df = pd.read_csv(ruta_archivo, index_col='Unnamed: 0')

In [ ]:
reseVinoArg_df = reseVino_df[reseVino_df['country']=='Argentina'] # Seleccionar vinos de Argentina

reseVinoArg_df.head(4)

In [ ]:
reseVinoArg_df.dtypes # Recordar tipo de datos del conjunto de datos del DataFrame

Una comprobaci√≥n visual r√°pida de los datos con `.plot()`

In [ ]:
reseVinoArg_df.plot()

Con un DataFrame, Pandas crea de forma predeterminada un gr√°fico lineal para cada una de las columnas con datos num√©ricos.

Adem√°s del gr√°fico de l√≠neas predeterminado al utilizar la funci√≥n `plot`, hay varias alternativas disponibles para representar gr√°ficamente los datos.

Cambiando el par√°metro `kind`, podemos distintos tipos de gr√°ficos como `line` (l√≠neas), `hist` (histograma), `box`(boxplot) o `scatter` (dispersi√≥n). Veamos ejemplos:

Explorar la distribuci√≥n de variable n√∫merica price mediante
histograma

In [ ]:
reseVinoArg_df['price'].plot(kind='hist')

Explorar la distribuci√≥n de variable n√∫merica points mediante

In [ ]:
reseVinoArg_df['points'].plot(kind='box')

Explorar la relaci√≥n de las variables n√∫mericas price y points. Usamos la gr√°fica scatter. Solo se puede aplicar en DataFrame

In [ ]:
reseVinoArg_df[['price','points']].plot(kind='scatter', x='price', y='points')

Calculo la frecuencia de cada categoria de la variable categ√≥rica `Province`. `value_counts()` devuelve una serie

In [ ]:
provincias_s = reseVinoArg_df['province'].value_counts()

# Mostrar
provincias_s

In [ ]:
# Gr√°fico de barra
provincias_s.plot(kind="bar")

Relacionando con la librer√≠a `matplotlib`

In [ ]:
import matplotlib.pyplot as plt

fig, ax = plt.subplots()
provincias_s.plot(kind="bar", ax=ax)
ax.set_ylabel('Frecuencia')
ax.set_xlabel('Provincia')
ax.set_title('Gr√°fico de barra')
ax.tick_params(axis='x', rotation=0)

Para m√°s informaci√≥n sobre `plot`, click en [pandas.plot de documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html#pandas.DataFrame.plot).

### ‚úç Recordatorio

* Los m√©todos `.plot.*` son aplicables tanto a `Series` como a `DataFrames`.

* De manera predeterminada, cada una de las columnas se representa como un elemento diferente (l√≠nea, diagrama de caja, etc.).

* Todo gr√°fico creado por pandas es un objeto Matplotlib.




La visualizaci√≥n de datos es clave en el an√°lisis exploratorio y en la comunicaci√≥n de resultados en CD e IA.

---
# Estad√≠stica Descriptiva
---


* Imagina la siguiente lista de n√∫meros [10,14,12,11,12,13]

In [ ]:
import numpy as np
import pandas as pd

data = np.array([10,14,12,11,12,13])
data_df = pd.DataFrame(data, columns= ['A']) # Crear DataFrame
display(data_df)

# Medidas de Tendencia Central

### Media
----

In [ ]:
media = np.mean(data_df['A']) # Calcular estad√≠stica con numpy
print("Media Numpy:", media)

media = data_df['A'].mean()
print("Media Pandas:", media)

### Mediana

---

In [ ]:
mediana = np.median(data_df['A']) # Calcular mediana con numpy
print("Mediana Numpy:", mediana)

mediana = data_df['A'].median() # Calcular mediana con pandas
print("Mediana Pandas:", mediana)

In [ ]:
data_df['A'].sort_values()

### Moda
---

In [ ]:
from scipy import stats  # Para trabajar m√°s con estad√≠stica

moda = stats.mode(data_df['A']) # Calcular moda con scipy. Solo valores n√∫mericos
print("Moda con scipy:", moda.mode)

moda = data_df['A'].mode() # Calcular moda con pandas
print("Moda con pandas:")
print(moda)

In [ ]:
data_categ = pd.Series(['a','a','c','d','f','f'])

moda = data_categ.mode()
print("Moda con pandas:")
print(moda)

In [ ]:
import statistics

# Multimoda
data_num = pd.Series([0,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5])

moda = data_num.mode()
print("Moda con pandas:")
print(moda)


moda = statistics.multimode(data_num)
print("Multi Moda con statistics:", moda)

# Medidas de Dispersi√≥n o Variabilidad

---

### Rango y Rango Intercuartil

In [ ]:
import numpy as np
import pandas as pd

# Numpy
muestra_B = np.array([47, 51, 53, 55, 57, 59, 63])
rango = np.max(muestra_B) - np.min(muestra_B)
print("Rango:", rango)

In [ ]:
# Pandas
muestra_B_df = pd.DataFrame({'B': muestra_B})
rango = muestra_B_df['B'].max() - muestra_B_df['B'].min()
print("Rango:", rango)

Rango intercuartilico

In [ ]:
# Calcular el rango intercuart√≠lico con NumPy
q1 = np.quantile(muestra_B_df['B'], 25)
q3 = np.quantile(muestra_B_df['B'], 75)
ri = q3 - q1
print(q3)
print(q1)
print("Rango intercuartil con NumPy:", ri)

# Calcular el rango intercuart√≠lico con Pandas
q1_df = muestra_B_df['B'].quantile(0.25)
q3_df = muestra_B_df['B'].quantile(0.75)
ri_df = q3_df - q1_df
print("Rango intercuartil con Pandas:", ri_df)

In [ ]:
 muestra_B_df['B'].plot.box( vert=False)

### Varianza

In [ ]:
varianza = np.var(muestra_B_df['B'],ddof=1) # Calcular varianza con numpy
print("Varianza con numpy:",varianza)

Varianza = muestra_B_df['B'].var(ddof=1) # Calcular varianza con Pandas

print("Varianza con pandas:",varianza)

### Desviaci√≥n est√°ndar

In [ ]:

std = np.std(muestra_B_df['B'],ddof=1) # Calcular std con numpy
print("Desv√≠o Est√°ndar con numpy:",std)

std = muestra_B_df['B'].std(ddof=1) # Calcular std con pandas
print("Desv√≠o Est√°ndar con pandas:",std)

In [ ]:
data = [39, 47, 53, 55, 57, 63, 71 ]
q1 = np.quantile(data, 0.25)
q3 = np.quantile(data, 0.75)
print(q1)
print(q3)
print(q3-q1)
print(np.var(data,ddof=1))
print(np.std(data,ddof=1))

# Medidas de Posici√≥n
---
Cuartiles y percentiles son medidas estad√≠sticas que se utilizan para dividir y analizar la distribuci√≥n de un conjunto de datos. Estas medidas proporcionan informaci√≥n sobre c√≥mo se distribuyen los valores en relaci√≥n con los dem√°s.

## Cuartiles

Los cuartiles dividen un conjunto de datos en cuatro partes iguales, cada una conteniendo el 25% de los datos. Los cuartiles m√°s com√∫nmente utilizados son:

* Primer cuartil (Q1): Tambi√©n conocido como el cuartil inferior o el percentil 25 (P25), divide los datos de manera que el 25% de los valores sean menores o iguales a este valor.

* Segundo cuartil (Q2): Es el valor que se encuentra en la mediana, es decir, el punto medio de la distribuci√≥n. Tambi√©n se conoce como el percentil 50 (P50).

* Tercer cuartil (Q3): Tambi√©n conocido como el cuartil superior o el percentil 75 (P75), divide los datos de manera que el 75% de los valores sean menores o iguales a este valor.

Los cuartiles son √∫tiles para comprender la dispersi√≥n y la forma de la distribuci√≥n de los datos.


![image.png]()

In [ ]:
q1 = np.quantile(data_df['A'], 0.25) # Numpy
q2 = np.quantile(data_df['A'], 0.50)
q3 = np.quantile(data_df['A'], 0.75)
print('Numpy')
print("Primer cuartil (Q1):", q1)
print("Segundo cuartil (Q2):", q2)
print("Tercer cuartil (Q3):", q3)
q1 = data_df['A'].quantile(0.25) # Pandas
q2 = data_df['A'].quantile(0.50)
q3 = data_df['A'].quantile(0.75)
print("----------------------------")
print('Pandas')
print("Primer cuartil (Q1):", q1)
print("Segundo cuartil (Q2):", q2)
print("Tercer cuartil (Q3):", q3)

## Percentiles

Los percentiles son valores que dividen un conjunto de datos en cien partes iguales, proporcionando una medida m√°s detallada de la distribuci√≥n. Algunos percentiles comunes son:

* Percentil 25 (P25): Es equivalente al primer cuartil (Q1) y representa el valor por debajo del cual el 25% de los datos caen.

* Percentil 50 (P50): Es equivalente al segundo cuartil (Q2) y representa la mediana de los datos.

* Percentil 75 (P75): Es equivalente al tercer cuartil (Q3) y representa el valor por debajo del cual el 75% de los datos caen.

* Percentil 90 (P90): Representa el valor por debajo del cual el 90% de los datos caen.


Los percentiles proporcionan informaci√≥n m√°s detallada sobre c√≥mo se distribuyen los datos, especialmente en los extremos de la distribuci√≥n.


![image.png]()

In [ ]:

p25 = np.percentile(data_df['A'], 25) # Numpy
p50 = np.percentile(data_df['A'], 50)
p75 = np.percentile(data_df['A'], 75)
print('Numpy')
print("Percentil 25 (P25):", p25)
print("Percentil 50 (P50):", p50)
print("Percentil 75 (P75):", p75)

p25_df = data_df['A'].quantile(0.25) # Pandas
p50_df = data_df['A'].quantile(0.50)
p75_df = data_df['A'].quantile(0.75)
print("----------------------------")
print('Pandas')
print("Percentil 25 (P25) con Pandas:", p25_df)
print("Percentil 50 (P50) con Pandas:", p50_df)
print("Percentil 75 (P75) con Pandas:", p75_df)

Tanto los cuartiles como los percentiles son √∫tiles para resumir y analizar grandes conjuntos de datos, y son ampliamente utilizados en campos como la estad√≠stica, la investigaci√≥n social, la econom√≠a y muchos otros. Estas medidas permiten comprender mejor la distribuci√≥n, la dispersi√≥n y los valores at√≠picos de los datos.

üìù **Ejercicio**

Sea el siguiente conjunto de datos almacenado en el DataFrame `estudiantes_df`.

In [ ]:
est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol','Sol'],
  'Edad': [49, 26, 37, 40, 35],
  'GradoAcademico': ['Bachiller','Licenciado','Magister','Doctorado','Licenciado']
}

# Crear DataFrame
estudiantes_df = pd.DataFrame(est_d)

In [ ]:
estudiantes_df

¬øCual es valor promedio, m√≠nimo y m√°ximo de la variable Edad?

In [ ]:
est_s = estudiantes_df['Edad']
mean = est_s.mean()
min = est_s.min()
max = est_s.max()
print(mean,min,max)

¬øQu√© tan dispersos est√°n los valores de edad en relaci√≥n a su valor promedio?
Calcular la desviaci√≥n est√°ndar poblacional

In [ ]:
est_s = estudiantes_df['Edad']
print(est_s.std(ddof=0))

¬øCu√°l es el grado ac√°demico m√°s com√∫n entre los estudiantes?

In [ ]:
gradoAcad_s = estudiantes_df['GradoAcademico']
print(gradoAcad_s.mode())

# Ejemplo de uso de estad√≠stica descriptiva

---

El m√©todo describe() del objeto Dataframe devuelve una descripci√≥n de los datos en el DataFrame.

Si el DataFrame contiene datos num√©ricos, la descripci√≥n contiene esta informaci√≥n para cada columna:

* count: la cantidad de valores no vac√≠os.
* mean: el valor promedio (media).
* std: la desviaci√≥n est√°ndar.
* min: el valor m√≠nimo.
* 25%: el percentil del 25 %*.
* 50%: el percentil del 50 %*.
* 75%: el percentil del 75 %*.
* max: el valor m√°ximo.

In [ ]:
data_df.describe() # Describe

üìù **Ejercicio**

Sea el siguiente conjunto de datos almacenados en el DataFrame `estudiantes_df`.**texto en negrita**

In [ ]:
```
# Importar librer√≠a numpy para llamar a random
import numpy as np

# Diccionario est_d

est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol,'Sol'],
  'Edad': [18,10,20,15]
}
```

---
# 1.5 Preparaci√≥n y preprocesamiento de datos
---

## 1.5.1 Codificaci√≥n de variables categ√≥ricas

![Gr√°ficas asociadas.png]()

In [ ]:
reseVinoArgChi_df = reseVino_df.loc[reseVino_df['country'].isin(['Argentina','Chile']),['country','variety','points','price']]
reseVinoArgChi_df.head(2)

Para explorar las tres t√©cnicas utilizaremos el conjunto de datos de grados ac√°demicos y la libreria scikit-learn de Python.

In [ ]:
# Importar biblioteca para la manipulaci√≥n de datos
import pandas as pd

# Crear el conjunto de datos sobre grados acad√©micos (Bachiller, Licenciado, Mag√≠ster y Doctorado).
# Variable categ√≥rica ordinal
educ_ls= ["Bachiller","Bachiller","Bachiller", "Licenciado", "Mag√≠ster","Mag√≠ster","Doctorado"]
data = {'country': educ_ls}

# Crear dataframe
reseVinoArgChi_df = pd.DataFrame(data)

# Mostrar
display(reseVinoArgChi_df)

### Codificaci√≥n por Etiqueta (Label encoding)

La Codificaci√≥n por Etiquetas es una t√©cnica que codifica valores categ√≥ricos a n√∫meros enteros. T√©cnica simple y r√°pida de implementar aunque puede introducir relaciones num√©ricas ficticias en variables categ√≥ricas nominales como color de un autom√≥vil (Negro, Blanco, Rojo, Azul, Otros) o g√©neros de libros (Narrativa, L√≠rica y Dram√°tica).

En Python para realizar la Codificaci√≥n por Etiquetas se puede usar el m√≥dulo `LabelEncoder` de la biblioteca `sklearn.preprocessing`. En donde cada categor√≠a es un entero que comienza en 0 y termina en n-1, donde n es el n√∫mero de categor√≠as. Veamos esto con el ejemplo.

Empecemos con `LabelEncoder`

In [ ]:
from sklearn.preprocessing import LabelEncoder

codif_etiqueta = LabelEncoder() # Inicializar la clase LabelEncoder. Crear instancia

reseVinoArgChi_df['LABEL_country_codif'] = codif_etiqueta.fit_transform(
    reseVinoArgChi_df['country']
    ) # Entrenar y transformar. LLamar al m√©todo fit_transform

display(reseVinoArgChi_df[['country','LABEL_country_codif']])

In [ ]:
codif_etiqueta.inverse_transform(reseVinoArgChi_df['LABEL_country_codif'])

In [ ]:

categorias_codifs = codif_etiqueta.classes_ # Si quisieramos ver las valoras asignados a las categor√≠as. classes_

correspondencia = {} # Crear un diccionario para almacenar la correspondencia

for i, categoria in enumerate(categorias_codifs):
    correspondencia[categoria] = i # Asignar la correspondencia entre las categor√≠as y los n√∫meros

print(correspondencia)

La Codificaci√≥n por Etiquetado no es la mejor t√©cnica. Para el ejemplo, se esperar√≠a desde el grado acad√©mico m√°s bajo hasta el m√°s avanzado ('Bachiller'< 'Licenciado'< 'Mag√≠ster'<'Doctorado') tener asignado los valores [0,1,2,3] y no [0,2,3,1]. Esto se debe a que asigna por orden alfab√©tico.

Ante este problema, existe la posibilidad de utilizar Codificaci√≥n Ordinal, √∫til para variables ordinales.

### Codificaci√≥n Ordinal (Ordinal Encoding)
Est√° t√©cnica asignan un valor num√©rico a cada categor√≠a en funci√≥n de su orden o jerarqu√≠a natural.
En Python, se puede utilizar la clase `OrdinalEncoder` de la biblioteca `sklearn.preprocessing`. Veamos como aplicar al ejemplo de grados acad√©micos:

In [ ]:

from sklearn.preprocessing import OrdinalEncoder

codif_ordinal = OrdinalEncoder( # Inicializar la clase OrdinalEncoder
    categories=[['Chile','Argentina']], # para indicar el orden esperado
    dtype= 'int' # por defecto np.float64
    )

reseVinoArgChi_df['ORDINAL_country_codif']  = codif_ordinal.fit_transform(
    reseVinoArgChi_df[['country']]
    ) # Entrenar y transformar

display(display(reseVinoArgChi_df[['country','ORDINAL_country_codif']]))

In [ ]:

reseVinoArgChi_df['ORDINAL_country_codif'] = reseVinoArgChi_df['ORDINAL_country_codif'] + 1

display(reseVinoArgChi_df)

Algunas caracter√≠sticas clave de la Codificaci√≥n Ordinal son:

1. **Asignaci√≥n de valores num√©ricos**: A cada categor√≠a √∫nica en la variable categ√≥rica se le asigna un valor num√©rico √∫nico en funci√≥n de su orden o jerarqu√≠a. Los valores num√©ricos se asignan de manera secuencial, comenzando desde 0, hasta el n√∫mero total de categor√≠as menos 1.

2. **Preservaci√≥n del orden**: La Codificaci√≥n Ordinal conserva la informaci√≥n de orden o jerarqu√≠a entre las categor√≠as. Esto significa que las categor√≠as con valores num√©ricos m√°s altos representan un mayor orden o jerarqu√≠a en comparaci√≥n con las categor√≠as con valores num√©ricos m√°s bajos.

3. **Aplicaci√≥n en variables categ√≥ricas ordinales**: La Codificaci√≥n Ordinal es especialmente √∫til cuando se trabaja con variables categ√≥ricas que tienen un orden l√≥gico predefinido como el ejemplo de grados acad√©micos, clasificaciones (bajo, medio, alto) o tama√±os (peque√±o, mediano, grande), etc.

### Codificaci√≥n One-Hot (One-Hot Enconding)

La codificaci√≥n One-Hot es una t√©cnica utilizada para convertir variables categ√≥ricas en una representaci√≥n num√©rica binaria. Esta t√©cnica se utiliza cuando las variables categ√≥ricas no tienen un orden inherente, variables nominales, y se desea representar cada categor√≠a como una columna binaria separada.

La biblioteca `sklearn.preprocessing` en Python proporciona la clase `OneHotEncoder` que se puede utilizar para realizar la codificaci√≥n One-Hot. A continuaci√≥n se muestra un ejemplo de c√≥mo utilizar OneHotEncoder:

In [ ]:

from sklearn.preprocessing import OneHotEncoder

codif_onehot = OneHotEncoder() # Inicializar clase OneHotEncoder

columnas_codif  = codif_onehot.fit_transform(
    reseVinoArgChi_df[['country']]
    ) # Entrenar y transformar los datos.

print("Matriz de columnas:",columnas_codif.toarray())

In [ ]:

# Crear dataframes con las nuevas caracter√≠sticas codifs One-Hot
onehot_df = pd.DataFrame(columnas_codif.toarray(), columns= codif_onehot.get_feature_names_out(['country']))

educ_onehot_df = pd.concat([reseVinoArgChi_df, onehot_df], axis=1) # concatenar el DataFrame codificado One-Hot

display(educ_onehot_df.iloc[:,6:])

Est√° t√©cnica no introduce relaciones ficticias entre categor√≠as aunque aumenta la cantidad de atributos o variables en el conjunto de datos si hay mucha cantidad de categor√≠as asociadas a la variable a codificar.

Para identificar otras t√©cnicas implementadas en scikit-learn click en:
[Documentaci√≥n  de scikit-learn para codificar caracter√≠sticas categ√≥ricas](https://contrib.scikit-learn.org/category_encoders/)

üìù **Ejercicio**

Sea el siguiente conjunto de datos almacenado en el DataFrame `estudiantes_df`.

In [ ]:
est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol','Sol'],
  'Edad': [49, 26, 37, 40, 35],
  'GradoAcademico': ['Bachiller','Licenciado','Magister','Doctorado','Licenciado']
}

# Crear DataFrame
estudiantes_df = pd.DataFrame(est_d)

In [ ]:
estudiantes_df['GradoAcademico'].unique()

¬øC√≥mo codificar la variable categ√≥rica ordinal 'GradoAcademico' de manera que que los valores asignados respeten el orden de menor a mayor grado ?
es decir:  ['Bachiller', 'Licenciado', 'Magister', 'Doctorado']

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

codif_ordinal = OrdinalEncoder( # Inicializar la clase OrdinalEncoder
    categories=[['Bachiller', 'Licenciado', 'Magister', 'Doctorado']],
    dtype= 'int'
    )

codif_ordinal.fit_transform(estudiantes_df[['GradoAcademico']])

## 1.5.2 Estandarizaci√≥n y Normalizaci√≥n

La estandarizaci√≥n y la normalizaci√≥n de variables n√∫mericas son pasos esenciales del preprocesamiento de datos que ayudan a garantizar que los modelos de ML puedan aprender de los datos de manera eficaz, transforman los valores de las variables a una escala similar, garantizando que todas las variables contribuyan por igual al proceso de aprendizaje del modelo. Por ejemplo, ingresos en miles de d√≥lares y edad en a√±os est√°n en diferentes escalas. Los modelos pueden dar prioridad a los valores m√°s grandes, lo que provoca un sesgo en las predicciones.


Los temas a explorar a continuaci√≥n son:
* **Estandarizaci√≥n**: Escalado de puntaje Z (Z-score).
* **Normalizaci√≥n**: Escalamiento m√≠nimo-m√°ximo.

### Estandarizaci√≥n

La **estandarizaci√≥n**, tambi√©n conocida como **normalizaci√≥n z-score**, es una t√©cnica com√∫nmente utilizada en el preprocesamiento de datos para transformar las variables num√©ricas de manera que tengan una media de 0 y una desviaci√≥n est√°ndar de 1. su f√≥rmula est√° determinada por:

$$Z = \frac{X-\mu}{\sigma}$$

donde $X$ es el valor observado $\mu$ es la media en el conjunto de datos y $\sigma$ es desviaci√≥n est√°ndar en el conjunto de datos.

![Gr√°ficas asociadas (1).png]()

En Python, se puede utilizar la clase `StandardScaler` de la biblioteca `sklearn.preprocessing` para realizar la estandarizaci√≥n. Para ello planteemos el ejemplo de la edad:

In [ ]:
# Crear dataframe del ejemplo edad
edad_ls =  [18, 20, 22, 21, 19, 23, 18, 24]
data = { 'edad': edad_ls }
edad_df = pd.DataFrame(data)

# Imprimir los primeras 5 instancias
edad_df.head(5)

In [ ]:
m = np.mean(edad_ls)
m

In [ ]:
s = np.var(edad_ls, ddof=0)
s

In [ ]:
std = np.std(edad_ls, ddof=0)
std

In [ ]:
(edad_ls[1]-m)/std

In [ ]:
min = np.min(edad_ls)
min

In [ ]:
max = np.max(edad_ls)
max

In [ ]:
(edad_ls[1]-min)/(max-min)

In [ ]:
# Mostrar estad√≠sticas (resumen). Para reforzar estos temas te sugerimos volver a ver los videos de estad√≠sticas descriptiva
# Tiene en cuenta la varianza muestral (n-1)
edad_df.describe()

In [ ]:
reseVinoArgChi_df['points']

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import StandardScaler
import numpy as np


# Instanciar la clase StandardScaler
escala_puntoZ = StandardScaler()

# Entrenar y transformar. Nueva variable
edad_df['Z_edad'] = escala_puntoZ.fit_transform(edad_df[['edad']])

# Imprimir primeras 5 instancias.  A cada valor le resto mean	33.750000 y lo dividio por std	18.42 (de la varianza poblacional)
print('Media {} y desv√≠o est√°ndar {} utilizados '. format(escala_puntoZ.mean_[0], np.sqrt(escala_puntoZ.var_)[0]))
edad_df.head(5)

In [ ]:
from sklearn.preprocessing import StandardScaler
import numpy as np

escala_puntoZ = StandardScaler() # Instanciar la clase StandardScaler

reseVinoArgChi_df['Z_points'] = escala_puntoZ.fit_transform( # Entrenar y transformar. Nueva variable
    reseVinoArgChi_df[['points']]
    )

print('Media {} y desv√≠o est√°ndar {} utilizados '. format(escala_puntoZ.mean_[0], np.sqrt(escala_puntoZ.var_)[0]))

display(reseVinoArgChi_df[['points','Z_points']].head(5))

In [ ]:
# Importar biblioteca
import matplotlib.pyplot as plt

# Crear gr√°fica
fig, axs = plt.subplots(2,1, figsize=(15, 6))
axs[0].hist(reseVinoArgChi_df[['points']])
axs[0].set_title("Histograma de 'points'")
axs[1].hist(reseVinoArgChi_df[['Z_points']])
axs[1].set_title("Histograma de 'points' luego de estandarizar  - Puntaje Z" )
fig.tight_layout()

Los datos no cambian su distribuci√≥n.

**Cuando usar**

La puntuaci√≥n z es m√°s adecuada si los datos son num√©ricos y se distribuyen de manera aproximadamente normal o sim√©trica. En algoritmos basados en el gradiente como M√°quina de Vectores de Soporte (Support Vector Machine, SVM) Regresi√≥n lineal o Regresi√≥n log√≠stica. Tambi√©n en el An√°lisis de Componentes Principales (Principal Component Analysis, PCA).

### Normalizaci√≥n

La normalizaci√≥n es otro proceso com√∫n en el preprocesamiento de datos que se utiliza para escalar los valores de una variable. A diferencia de la estandarizaci√≥n, que centra los datos alrededor de cero y los escala utilizando la desviaci√≥n est√°ndar, la normalizaci√≥n ajusta los valores en un rango espec√≠fico, generalmente entre 0 y 1.




#### Escalamiento m√≠nimo-m√°ximo, (Min-Max Scaling)

Existen varios m√©todos de normalizaci√≥n, pero uno de los m√°s comunes es el Min-Max Scaling. En este enfoque, se transforman los datos a un rango espec√≠fico utilizando la siguiente f√≥rmula:



$X_{nueva} = \frac{X - X_{min}}{X_{max} - X_{min}}$




donde $X$ es el valor observado, $X_{min}$ es el valor m√≠nimo en el conjunto de datos y $X_{max}$ es el valor m√°ximo en el conjunto de datos. La f√≥rmula normaliza los valores a un rango de [0, 1].

Python ofrece la clase `MinMaxScaler()` de `sklearn.preprocessing`.Veamos como se aplica en el ejemplo edad:

In [ ]:
# Importar biblioteca
from sklearn.preprocessing import MinMaxScaler


escalado_MinMax = MinMaxScaler() # Inicializar la clase MinMaxScaler

reseVinoArgChi_df[['MINMAX_points']] = escalado_MinMax.fit_transform( # Entrenar y transformar
    reseVinoArgChi_df[['points']]
    )

print("Para la variable Points Max. = {} M√≠n. = {}".format(reseVinoArgChi_df[['points']].max(),reseVinoArgChi_df[['points']].min()))
display(reseVinoArgChi_df[['points','MINMAX_points']].sort_values(by='MINMAX_points').head(5))

In [ ]:
# Crear gr√°fica

fig, axs = plt.subplots(2,1, figsize=(15, 6))
axs[0].hist(reseVinoArgChi_df[['points']])
axs[0].set_title("Histograma de 'points'")
axs[1].hist(reseVinoArgChi_df[['MINMAX_points']])
axs[1].set_title("Histograma de 'points' luego de normalizar - Escalamiento m√≠nimo-m√°ximo" )
fig.tight_layout()


Como se puede ver en la f√≥rmula, el escalado m√≠nimo-m√°ximo conserva el orden relativo de los valores, pero los comprime en un rango espec√≠fico. El escalamiento Min-Max es ideal cuando los datos no siguen una distribuci√≥n normal y es importante mantener la relaci√≥n entre los valores originales. Este m√©todo ajusta los datos a un rango espec√≠fico, como [0, 1], siendo √∫til en modelos sensibles a magnitudes absolutas, m√©todos basados en distancias (por ejemplo, k-means o K-Nearest Neighbors). Evite usarlo si los datos contienen valores at√≠picos, ya que estos pueden comprimir el rango de los valores restantes.

Otras normalizaciones:
* MaxAbsScaler: escala cada variable por su valor absoluto m√°ximo. Rango [-1, 1].
* RobustScaler: resulta particularmente √∫til cuando se trabaja con conjuntos de datos que contienen valores at√≠picos.

Todos estos y muchos m√°s est√°n implementados en scikit-learn, click en:[Documentaci√≥n de preprocesamiento ](https://scikit-learn.org/stable/modules/preprocessing.html)

üìù **Ejercicio**

Sea el siguiente conjunto de datos almacenado en el DataFrame `estudiantes_df`.

In [ ]:
est_d = {
  'Nombre': ['Lucas','Marcela','Fede','Sol','Sol'],
  'Edad': [49, 26, 37, 40, 35],
  'GradoAcademico': ['Bachiller','Licenciado','Magister','Doctorado','Licenciado']
}

# Crear DataFrame
estudiantes_df = pd.DataFrame(est_d)

Normalizar la variedad edad por puntaje Z o Z-score

In [ ]:

from sklearn.preprocessing import StandardScaler
import numpy as np


# Instanciar la clase StandardScaler
escala_puntoZ = StandardScaler()

# Entrenar y transformar. Nueva variable
escala_puntoZ.fit_transform(estudiantes_df[['Edad']])

### Manejo de valores at√≠picos (outliers)

#### Identificaci√≥n de valores at√≠picos univariados

#### Visualizaci√≥n por Diagrama de caja (Box-plot)

In [ ]:
# Diagrama de caja
fig, ax = plt.subplots(figsize=(15, 3))
ax.boxplot(reseVinoArgChi_df[['points']], vert=False)
ax.set_title("Diagrama de caja (Box Plot) para 'points'")

![Gr√°ficas asociadas (2).png]()

In [ ]:
# Calcular cuart√≠les
Q1 = reseVinoArgChi_df['points'].quantile(0.25)
Q3 = reseVinoArgChi_df['points'].quantile(0.75)

# Calcular rango intercualt√≠lico
IQR = Q3 - Q1

# Calcular l√≠mites
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Detectar valores at√≠picos
atipicos_IQR_df = reseVinoArgChi_df[(reseVinoArgChi_df['points'] < limite_inferior) | (reseVinoArgChi_df['points'] > limite_superior)]

# Imprimir resultados
print("Atipicos en 'points' por IQR:")
atipicos_IQR_df['points']

El m√©todo IQR es simple de aplicar, es conveniente en datos no distribuidos normalmente Sin embargo, tiene ciertas desventajas como el tama√±o de la muestra, especialmente en conjuntos de datos m√°s peque√±os, puede afectar a su precisi√≥n a la hora de reflejar la verdadera dispersi√≥n de los datos. Detecta at√≠picos solo en una variable a la vez, lo que puede ser insuficiente si los valores at√≠picos est√°n en combinaciones de variables (at√≠picos multivariados).

#### M√©todo de puntuaci√≥n Z (Z-score)

In [ ]:

from scipy import stats
from sklearn.preprocessing import StandardScaler
import numpy as np


z_puntaje_point = np.abs(stats.zscore(reseVinoArgChi_df['points'])) ## para trabajar con valores positivos
reseVinoArgChi_df['points_z_puntaje'] = z_puntaje_edad

# Setear umbral de puntaje z
z_umbral = 3

# Identificar valor at√≠pico
atipicos_estandar_df = reseVinoArgChi_df[reseVinoArgChi_df['points_z_puntaje']  >  z_umbral]

# Imprimir resultados
display("Atipicos en 'point' por puntaje Z :",atipicos_estandar_df['points_z_puntaje'])

Si graficamos las puntuaciones Z para cada observaci√≥n y caracter√≠stica de los datos, ya podemos empezar a detectar algunos valores at√≠picos.
En este gr√°fico de dispersi√≥n de puntuaciones Z, cada punto representa la puntuaci√≥n Z de un punto de datos individual. La l√≠nea discontinua roja indica el umbral de puntuaci√≥n Z elegido (en este caso, 3). Los valores at√≠picos se identifican como puntos por encima de este umbral.

Continuando con el ejemplo, en edad hay un valor at√≠pico claramente capturado.

In [ ]:
# Crear gr√°fica
fig, ax = plt.subplots(figsize=(15, 3))
ax.scatter(reseVinoArgChi_df['points'] , reseVinoArgChi_df['points_z_puntaje'] , color='blue', label='Z-Scores')
ax.set_title("Puntajes Z (Z-Scores) para 'point'")
plt.axhline(y=z_umbral, color='red', linestyle='--', label='Umbral')
plt.legend()

### Eliminaci√≥n de valores at√≠picos

In [ ]:
# Seleccionar edad dentro de los limites
datos_sinAtipicos_IQR_df = reseVinoArgChi_df[(reseVinoArgChi_df['points'] >= limite_inferior) & (reseVinoArgChi_df['points']  <= limite_superior)]
display("Estad√≠stica para 'points' con valores at√≠picos ",reseVinoArgChi_df['points'] .describe())
display("Estad√≠stica para 'points' sin valores at√≠picos por IQR ",datos_sinAtipicos_IQR_df['points'].describe())

Los cambios observados despu√©s de la eliminaci√≥n de los valores at√≠picos se describen a continuaci√≥n:
* **Cambio de la edad media**: la edad media, despu√©s de eliminar los valores at√≠picos, disminuy√≥ ligeramente de 33,75 a
aproximadamente 28,27. Esta reducci√≥n sugiere que los valores at√≠picos eliminados eran individuos mayores.
* **Cambio de la desviaci√≥n est√°ndar para la edad**: la desviaci√≥n est√°ndar para la edad disminuy√≥ de 18,90 a 8,75, lo que indica que la dispersi√≥n de edades se volvi√≥ ligeramente m√°s estrecha despu√©s de la eliminaci√≥n de los valores at√≠picos, lo que
probablemente contribuy√≥ a una mayor variabilidad en el conjunto de datos original.
*  **Valores m√≠nimos y m√°ximos de edad**: la edad m√≠nima permaneci√≥ igual, 18, mientras que la edad m√°xima disminuy√≥ de 90 a 45, lo que indica que los individuos mayores (posibles valores at√≠picos) se eliminaron durante el manejo de los valores at√≠picos.


La eliminaci√≥n de valores at√≠picos condujo a una disminuci√≥n tanto de la edad media como de la desviaci√≥n est√°ndar, as√≠ como a un ligero aumento de la puntuaci√≥n media de la prueba. Si bien la eliminaci√≥n de valores at√≠picos puede mejorar la calidad de los datos, especialmente cuando se deben a errores de entrada de datos o imprecisiones de medici√≥n, tambi√©n reduce la variabilidad del conjunto de datos. Si los valores at√≠picos representan una variabilidad real en la Poblacion, su eliminaci√≥n podr√≠a distorsionar la imagen general de los datos. Para el ejemplo de edad, no estar√≠amos contemplado a los adultos mayores. Por lo tanto, se debe considerar cuidadosamente si los valores at√≠picos representan puntos de datos genuinos o errores.

### Resumen y caso de uso

**1. Codificaci√≥n de caracter√≠sticas categ√≥ricas**
* Codificaci√≥n de etiqueta (Label encoding)
* Codificaci√≥n Ordinal
* Codificaci√≥n One-Hot (One-Hot encoding)

**2.Estandarizaci√≥n y Normalizaci√≥n**
* Estandarizaci√≥n: escalado de puntaje Z (Z-score)
* Normalizaci√≥n: escalado por m√≠nimo-m√°ximo.

**3.Detecci√≥n y eliminaci√≥n de valores at√≠picos (outliers)**
* Visualizaci√≥n por Diagrama de caja (Box-plot)
* M√©todo por Rango Intercuartil (Interquartile Range, IQR)
* M√©todo por puntuaci√≥n Z (Z-score)
* Conocimiento de dominio
* Eliminaci√≥n de valores at√≠picos por IQR